.product-recommendations {
  display: block;
  z-index:0;
  position: relative;
}

.product-recommendations:not(.product-recommendations--loaded) {
  padding: 0;
  margin: 0;
}
.product__info-container .product__title h1{ padding:1.5rem 0 0;}
.product-recommendations__heading {
  margin: 0;
  margin-bottom: 3rem;
}
.product-recommendations__heading {
  margin:4rem 0;
  /* margin-bottom: 6rem; */
  font-weight:600;
  /* font-weight: 700; */
 
}
.product-recommendations .card .card__inner .card__media{ }
/* .product-recommendations .swiper-button-next, .product-recommendations .swiper-button-prev{top:36%;transform:translateY(-50%);-webkit-transform:translateY(-50%);} */


@media screen and (max-width: 990px) {
  .product-recommendations__heading {
  font-size: 3.6rem;margin-bottom:3rem;
  }
}
@media screen and (max-width: 480px) {
.product-recommendations__heading{font-size: 2.4rem;}
}

.product-recommendations .card--card.card--media>.card__content{ padding:1rem 0 0;}